@use '../../abstracts/colors' as color;
// ---

$primary__background-color: color.$sandy-brown;
$primary__color: color.$ultra-violet;

$secondary__background-color: color.$ultra-violet;
$secondary__color: color.$sandy-brown;